body{
	color:black;
}

header{
	/*! display:flex; */
	justify-content:center;
	flex-wrap:  wrap;
}

h1{
	font-size:2em;
	width: 100%;
	text-align:  center;
	padding: 4%;
	font-weight:  bold;
}

nav {
    width: 100%;
}

nav ul{
	display:flex;
	justify-content:center;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 4%;
}

a{
	text-decoration: none;
	color: #4C83FF;
}

 a:visited{
	color: #4C83FF;
}

header nav li {
    padding: 2%;
    display: inline-block;
    width: 3em;
}

/*----------------------------MAIN-------------------------*/
main, aside{
	padding:2%;
}

h2, h3{
	margin:2% 0;
	font-weight: bold;
}


/*----------------------------ASIDE-------------------------*/
aside ul{
	margin-left: 2%;
}
aside li{
	list-style-type: initial;
	margin-left: 3%;
}
aside h3{
	margin:10% 0;
}





/*----------------------------MEDIA QUERIES-----------------*/


@media screen and (min-width: 1280px) {
	header, aside{
		vertical-align: top;
		width: 18%;
		display: inline-block;
		padding: 2%;
	}

	main{
		width: 50%;
		display: inline-block;
	}
	
}
